body{
    padding: 0;
    width: 100%;
    text-decoration: none;
    list-style: none;

}

.nav-link {
    color: #c23616;  
}

.image{
    display: block;
    max-height:230px;
    width: 100%;
    height: auto;
}


.container-sm{
    width: 50%;
    margin-top:0;
    padding: 0;
    max-width: 50%;
  position: relative;
    text-align: center;
    
}
#videoscl{
    width: 100%;
    height: 100%;
}
.backg {
    flex-wrap: nowrap;

}
.backg >img{
    width: unset;
}
